:root {
  --theme-color: #FFC730;
}
body {
  background: #201e1e;
}
.sidebar,.sidebar-toggle {
  background: #252424;
}

.sidebar > h1.app-name {
  text-align: left;
  padding-left: 14px;
}
.app-name img {
  max-width: 70%;
}
.github-corner svg {
  height: 60px;
  width: 60px;
}