@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous&display=swap');

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
'Segoe UI Emoji', 'Segoe UI Symbol';
$logo-font-family: $font-family, !default;
$link-font-family: $font-family, !default;

$c-gap: black !default;
$c-bg: #201e1e !default;
$c-font: #F6F4F2 !default;
$c-font-menuitem: rgba($c-font, 0.4) !default;
$c-font-contrast:rgb(46, 46, 46) !default;
$c-font-dark: rbga($c-font, 0.6) !default;
$c-highlight: #FFC730 !default;
$c-console-bg: #23241f !default;
$c-console-bg-odd: #313131 !default;



$c-console-info: #00AA90 !default; // 青绿 AOMIDORI
$c-console-warn: #FFB11B !default; // 山吹 YAMABUKI
$c-console-error: #F75C2F !default; // 红绯 BENIHE


$c-flipbtn-bg: rgba(black, 0.5) !default;
$c-flipbtn-color: #aaa !default;
$c-small-screen: 769px !default;