:root {
  --theme-color: #FFC730;
}

html, body{
  background: #201e1e;
  font-size: 12px;
}
.sidebar,.sidebar-toggle {
  background: #252424;
}

.sidebar > h1.app-name {
  text-align: left;
  padding-left: 14px;
}
.app-name img {
  max-width: 70%;
}
.github-corner svg {
  height: 60px;
  width: 60px;
}
.sidebar-toggle {
  width: auto;
}

.markdown-section h1 {
  font-size: 1.8rem;
}
.markdown-section p.tip, .markdown-section tr:nth-child(2n) {
  background: #2b2601;
}